body{
  padding=0;
  margin=0 auto;
  background-size: cover;
  background-color: #E6E6FA;
}

#cabecalho {
    height:100%;
    padding-top: 10px;
    text-shadow: 1px 1px 1px green;
    border-bottom: 3px solid white;
}

section { 
  width: 50%; 
  height: 100%; 
}

#esquerda {
    padding-top: 50px;
    float: left;   
}

#direita{
  padding-top: 50px;
  float: right;
}

form { 
  font-family: Verdana,Tahoma,sans-serif;
  font-size: 15px;  
  max-width: 1000px;
  heigth:100%;
}

table {
  font-size: 12px;
}

h1 {
  text-align: center;
  
}

nav li {
  display: inline-block;
  width: 150px;
}

input { 
  width: 70%; 
  padding: 10px; 
  color: black; 
  margin-left: 10px; 
  border: 1px solid; 
  -webkit-border-radius: 5px;
}

form label { 
  margin-left: 10px; 
  color: #000000; 
  font-weight: bold; 
}

#menu ul {
  padding:0px;
  margin:0px;
  list-style: none;
  text-align: left;
}

#rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #cecece;
  font-size: 10pt;
  font-style: italic;
}

#rodape_esq {
  background-color: #E6E6FA;
  text-align: center;
}

#compromisso {
  margin-left: 10px;
}